[push]
    default = matching
[user]
    name = {{ dotfiles_git_name }}
    email = {{ dotfiles_git_email }}
[core]
    editor = {{ dotfiles_git_editor }}
    preloadindex = true
[color "diff"]
    meta = blue black bold
[color]
    ui = true